*{
	font-family: Arial;
}
body{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	justify-content: center;
	height: 120px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.container{
	display: flex;
	justify-content: space-between;
	width: 990px;
}
.logo{
	display: flex;
	align-items: center;
}
.menu{
	display: flex;
	align-items: center;
}
nav li,
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
}
nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}
nav .active a,
nav a:hover{
	background-color: #39aae1;
	color: #fff;
}
#banner{
	display: flex;
	justify-content: center;
	background-image: url('../images/img1.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;
}
.coluna{
	flex-direction: column; 
}
.banner_textos{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_textos h1{
	color: #fff;
	font-size: 70px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	width: 300px;
}
.banner_textos h2{
	color: #fff;
	font-size: 21px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	width: 300px;
}
.banner_opcoes{
	height: 210px;
	display: flex;
}
.banner_1,
.banner_2,
.banner_3 {
	flex:1;
	color:#ffffff;
	padding: 20px;
}
.banner_titulo{
	font-size: 21px;
}
.banner_desc{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_1{
	background-color: #39aae1;
}
.banner_2{
	background-color: #0079c7;
}
.banner_3{
	background-color: #2b4c99;

}
.banner_opcoes a{
	display: inline-block;
	border: 1px solid #ffffff;
	padding: 5px;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}
#geral{
	display: flex;
	justify-content: center
}
#geral section{
	flex: 2;
}
#geral aside{
	flex: 1;
}
.widget_titulo{
	margin-top: 30px;
	margin-bottom: 20px;
}
.widget_titulo_texto{
	color: black;
	font-size: 21px;
	font-weight: bold;
}
.widget_titulo_barra{
	width: 50px;
	height: 3px;
	background-color: #36a9e1;
	margin-top: 10px;
}
.widget_body {
	display: flex;
	flex: wrap;
}

.retangulo{
	width: 120px;
	height: 120px;
	background-color: #0079c7;
	margin-top: 30px;
	margin-right: 30px;
	padding: 15px;
}
.contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.contatos{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
article{
	flex: 1;
	min-width: 200px;
	padding: 20px;
}
article a{
	text-decoration: none;
}

article .new_data{
	display: flex;
}
article .data_postagem{
	background-color: #2b4c99;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}
article .new_comentario{
	background-color: #2b4c99;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	background-color:#36a9e1;
}
article .imagem{
	margin-top: 30px;
}
article .imagem img{
	width: 100%;
	height: auto;
}
article .new_titulo {
	margin-top: 25px;
	margin-bottom: 25px;
	color: black;
	font-size: 23px;
}
article .news_resumo{
	color: #5c5c5c;
	line-height: 19px;
	font-size: 14px;
}
footer{
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
}
.botoes {
	display: flex;
	flex: 1;
}
.fm1, .fm2, .fm3{
	flex: 1;
}
.fm1{
	background-color: #36a9e1;
}
.fm2{
	background-color: #0079c7;
}
.fm3{
	background-color: #2b4c99;
}
.text{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
}
.legenda{
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: #fff;
	margin-bottom: 25px;
	margin: 20px;
}
.flexColunm{
	flex-direction: column;
}
.area{
	display: flex;
	color: #fff;
}
.area_item{
	flex: 1;
}
.widget_titulo_texto_baixo{
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}
.cop{
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #ada6a6;
}
.texto{
	font-size: 15px;
	margin-top: 20px;
	color: #ada6a6;
}
.texto_rodape{
	display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #39aae1 ;
    margin-top: 3px;
    margin-bottom: 3px;
	color:#5c5c5c;
	margin-right: 30px;
}
.texto_rodape2{
	font-size: 11px;
    color:rgb(35, 50, 189);
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 20px;

}
.text2{
	font-size: 14px;
	margin-left: 20px;
	margin-top: 20px;
}
.text3{
    font-size: 14px;
    color:#5c5c5c;
    margin-left: 20px;
    text-decoration: none;
	margin-top: 10px;

}
.texto_rodape3{
    font-size: 11px;
    color:rgb(35, 50, 189);
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 20px;

}



















